USE [master]
GO
/****** Object:  Database [QuanLiTiemChung]    */
CREATE DATABASE [QuanLiTiemChung]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLiTiemChung', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MINH\MSSQL\DATA\QuanLiTiemChung.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLiTiemChung_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MINH\MSSQL\DATA\QuanLiTiemChung_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLiTiemChung].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLiTiemChung]
GO
/****** Object:  Table [dbo].[BACSY]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BACSY](
	[MABS] [char](10) NOT NULL,
	[HOTEN] [nvarchar](30) NULL,
	[NGAYSINH] [date] NULL,
	[CHUCVU] [nchar](10) NULL,
	[SDT] [char](10) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[CHUYENKHOA] [nvarchar](30) NULL,
	[BANGCAP] [nvarchar](30) NULL,
 CONSTRAINT [PK__BACSY__603FFF988017C70E] PRIMARY KEY CLUSTERED 
(
	[MABS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETTIEM]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETTIEM](
	[MAPHIEUTIEM] [char](10) NOT NULL,
	[MAVACCINE] [char](10) NOT NULL,
	[GIABAN] [float] NULL,
	[MUITHU] [int] NULL,
	[NGAYTIEMNHACLAI] [date] NULL,
	[LIEULUONG] [int] NULL,
	[TIEMNHACLAI] [bit] NULL,
 CONSTRAINT [ctt] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUTIEM] ASC,
	[MAVACCINE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHOADON] [char](10) NOT NULL,
	[CHIETKHAU] [float] NULL,
	[NGAYTHU] [date] NULL,
	[TONGTIEN] [float] NULL,
	[MAGH] [char](10) NULL,
	[MATHUNGAN] [char](10) NULL,
	[MAPHIEUTIEM] [char](10) NULL,
 CONSTRAINT [MHD] PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [char](10) NOT NULL,
	[TENKH] [nvarchar](30) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](4) NULL,
	[TIEUSU] [nvarchar](50) NULL,
	[EMAIL] [char](50) NULL,
	[SDT] [char](11) NULL,
	[MAGH] [char](10) NULL,
 CONSTRAINT [KH] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIVC]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIVC](
	[MALOAIVC] [char](10) NOT NULL,
	[LOAIVACCINE] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LOAIVC_1] PRIMARY KEY CLUSTERED 
(
	[MALOAIVC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIGIAMHO]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIGIAMHO](
	[MAGH] [char](10) NOT NULL,
	[HOTEN] [nvarchar](30) NULL,
	[DIACHI] [nvarchar](30) NULL,
	[SDT] [char](10) NULL,
	[EMAIL] [char](50) NULL,
 CONSTRAINT [NGH] PRIMARY KEY CLUSTERED 
(
	[MAGH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTIEM]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTIEM](
	[MAPHIEUTIEM] [char](10) NOT NULL,
	[MAKH] [char](10) NULL,
	[MABS] [char](10) NULL,
	[NGAYTIEM] [date] NULL,
 CONSTRAINT [PK_PHIEUTIEM] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUTIEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUANKHO]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANKHO](
	[MAQUANKHO] [char](10) NOT NULL,
	[HOTEN] [nvarchar](30) NULL,
	[CHUCVU] [nvarchar](30) NULL,
	[NGAYSINH] [date] NULL,
	[SDT] [char](10) NULL,
	[DIACHI] [nvarchar](50) NULL,
 CONSTRAINT [PK_QUANKHO] PRIMARY KEY CLUSTERED 
(
	[MAQUANKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUANTRI]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANTRI](
	[MAQUANTRI] [char](10) NOT NULL,
	[CHUCVU] [nvarchar](30) NULL,
	[HOTEN] [nvarchar](30) NULL,
	[NGAYSINH] [date] NULL,
	[SDT] [char](10) NULL,
	[DIACHI] [nvarchar](50) NULL,
 CONSTRAINT [PK_QUANTRI] PRIMARY KEY CLUSTERED 
(
	[MAQUANTRI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MATAIKHOAN] [char](10) NOT NULL,
	[HASHPASS] [char](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUNGAN]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUNGAN](
	[MATHUNGAN] [char](10) NOT NULL,
	[HOTEN] [nvarchar](30) NULL,
	[NGAYSINH] [date] NULL,
	[SDT] [nchar](10) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[CHUCVU] [nvarchar](30) NULL,
 CONSTRAINT [PK_THUNGAN] PRIMARY KEY CLUSTERED 
(
	[MATHUNGAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VACCINE]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VACCINE](
	[MAVACCINE] [char](10) NOT NULL,
	[TENVACCINE] [nvarchar](20) NULL,
	[NHASX] [nvarchar](30) NULL,
	[NGAYSX] [date] NULL,
	[HANSD] [date] NULL,
	[SOLO] [char](10) NULL,
	[SOLUONGCOSAN] [int] NULL,
	[DONGIA] [float] NULL,
	[MALOAIVC] [char](10) NULL,
	[MAQUANKHO] [char](10) NULL,
	[MAQUANTRI] [char](10) NULL,
 CONSTRAINT [PK__VACCINE__421B985BF3C4C0D3] PRIMARY KEY CLUSTERED 
(
	[MAVACCINE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BACSY] ([MABS], [HOTEN], [NGAYSINH], [CHUCVU], [SDT], [DIACHI], [CHUYENKHOA], [BANGCAP]) VALUES (N'BS001     ', N'Dương Quang Min', CAST(N'1998-07-05' AS Date), N'Bác sĩ    ', N'0113221   ', N'Hưng Yên', N'Răng hàm mặt', N'Giáo sư')
INSERT [dbo].[BACSY] ([MABS], [HOTEN], [NGAYSINH], [CHUCVU], [SDT], [DIACHI], [CHUYENKHOA], [BANGCAP]) VALUES (N'BS002     ', N'Nguyễn Gia Hiếu', CAST(N'2001-02-11' AS Date), N'Bác sĩ    ', N'0955552115', N'Hương Khê', N'Tai Mũi Họng', N'Tiến sĩ')
INSERT [dbo].[BACSY] ([MABS], [HOTEN], [NGAYSINH], [CHUCVU], [SDT], [DIACHI], [CHUYENKHOA], [BANGCAP]) VALUES (N'BS003     ', N'Trần Minh Đức', CAST(N'2001-04-05' AS Date), N'Bác sĩ    ', N'0977658999', N'Hà Tĩnh', N'Hàm mặt', N'Thạc sĩ')
GO
INSERT [dbo].[CHITIETTIEM] ([MAPHIEUTIEM], [MAVACCINE], [GIABAN], [MUITHU], [NGAYTIEMNHACLAI], [LIEULUONG], [TIEMNHACLAI]) VALUES (N'PT001     ', N'VC001     ', 100001, 3, CAST(N'2024-01-05' AS Date), 1, 0)
INSERT [dbo].[CHITIETTIEM] ([MAPHIEUTIEM], [MAVACCINE], [GIABAN], [MUITHU], [NGAYTIEMNHACLAI], [LIEULUONG], [TIEMNHACLAI]) VALUES (N'PT001     ', N'VC003     ', 70000, 1, CAST(N'2023-12-05' AS Date), 2, 1)
INSERT [dbo].[CHITIETTIEM] ([MAPHIEUTIEM], [MAVACCINE], [GIABAN], [MUITHU], [NGAYTIEMNHACLAI], [LIEULUONG], [TIEMNHACLAI]) VALUES (N'PT002     ', N'VC001     ', 100001, 3, CAST(N'2023-10-05' AS Date), 1, 1)
GO
INSERT [dbo].[HOADON] ([MAHOADON], [CHIETKHAU], [NGAYTHU], [TONGTIEN], [MAGH], [MATHUNGAN], [MAPHIEUTIEM]) VALUES (N'HD001     ', 0.1, CAST(N'2023-07-05' AS Date), 310001, N'GH001     ', N'TN001     ', N'PT001     ')
INSERT [dbo].[HOADON] ([MAHOADON], [CHIETKHAU], [NGAYTHU], [TONGTIEN], [MAGH], [MATHUNGAN], [MAPHIEUTIEM]) VALUES (N'HD003     ', 0.2, CAST(N'2023-07-05' AS Date), 100001, N'GH002     ', N'TN004     ', N'PT002     ')
INSERT [dbo].[HOADON] ([MAHOADON], [CHIETKHAU], [NGAYTHU], [TONGTIEN], [MAGH], [MATHUNGAN], [MAPHIEUTIEM]) VALUES (N'HD004     ', 0, CAST(N'2023-05-07' AS Date), 110000, N'GH003     ', N'TN004     ', N'PT003     ')
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [NGAYSINH], [GIOITINH], [TIEUSU], [EMAIL], [SDT], [MAGH]) VALUES (N'KH001     ', N'Đào Đình Huy', CAST(N'1999-05-11' AS Date), N'Nam', N'Không', N'dinhhuy@outlook.com                               ', N'091248748  ', N'GH009     ')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [NGAYSINH], [GIOITINH], [TIEUSU], [EMAIL], [SDT], [MAGH]) VALUES (N'KH002     ', N'Nguyễn Mạnh Cường', CAST(N'2006-06-01' AS Date), N'Nam', N'Cao huyết áp', N'nguyenmanhcuong@gmail.com                         ', N'097104070  ', N'GH001     ')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [NGAYSINH], [GIOITINH], [TIEUSU], [EMAIL], [SDT], [MAGH]) VALUES (N'KH003     ', N'Hồ Nguyễn Nguyên', CAST(N'2001-10-05' AS Date), N'Nam', N'Không', N'honguyennguye@gmail.com                           ', N'095533211  ', N'GH002     ')
GO
INSERT [dbo].[LOAIVC] ([MALOAIVC], [LOAIVACCINE]) VALUES (N'LVC001    ', N'covid     ')
INSERT [dbo].[LOAIVC] ([MALOAIVC], [LOAIVACCINE]) VALUES (N'LVC002    ', N'Sởi       ')
INSERT [dbo].[LOAIVC] ([MALOAIVC], [LOAIVACCINE]) VALUES (N'LVC003    ', N'Viêm gan B')
GO
INSERT [dbo].[NGUOIGIAMHO] ([MAGH], [HOTEN], [DIACHI], [SDT], [EMAIL]) VALUES (N'GH001     ', N'Nguyễn Mạnh', N'Hà Nội', N'09978970  ', NULL)
INSERT [dbo].[NGUOIGIAMHO] ([MAGH], [HOTEN], [DIACHI], [SDT], [EMAIL]) VALUES (N'GH002     ', N'Hồ Nguyễn Nguyên', N'Tp HCM', N'0934346906', N'honguyennguye@gmail.com                           ')
INSERT [dbo].[NGUOIGIAMHO] ([MAGH], [HOTEN], [DIACHI], [SDT], [EMAIL]) VALUES (N'GH003     ', N'Nguyễn Tùng Lâm', N'Lạng Sơn', N'098272345 ', NULL)
GO
INSERT [dbo].[PHIEUTIEM] ([MAPHIEUTIEM], [MAKH], [MABS], [NGAYTIEM]) VALUES (N'PT001     ', N'KH002     ', N'BS001     ', CAST(N'2023-06-05' AS Date))
INSERT [dbo].[PHIEUTIEM] ([MAPHIEUTIEM], [MAKH], [MABS], [NGAYTIEM]) VALUES (N'PT002     ', N'KH003     ', N'BS002     ', CAST(N'2023-04-05' AS Date))
INSERT [dbo].[PHIEUTIEM] ([MAPHIEUTIEM], [MAKH], [MABS], [NGAYTIEM]) VALUES (N'PT003     ', N'KH004     ', N'BS003     ', CAST(N'2023-05-07' AS Date))
GO
INSERT [dbo].[QUANKHO] ([MAQUANKHO], [HOTEN], [CHUCVU], [NGAYSINH], [SDT], [DIACHI]) VALUES (N'QK001     ', N'Lươn Minh Trung', N'Quản lí kho', CAST(N'2001-08-10' AS Date), N'0976778899', N'Can Lộc')
INSERT [dbo].[QUANKHO] ([MAQUANKHO], [HOTEN], [CHUCVU], [NGAYSINH], [SDT], [DIACHI]) VALUES (N'QK002     ', N'Trần Tuấn Cường', N'Quản lí kho', CAST(N'2000-07-12' AS Date), N'093843938 ', N'Hà Nội')
INSERT [dbo].[QUANKHO] ([MAQUANKHO], [HOTEN], [CHUCVU], [NGAYSINH], [SDT], [DIACHI]) VALUES (N'QK003     ', N'Nguyễn Tuấn Long', N'Quản lí kho', CAST(N'2001-10-12' AS Date), N'093849389 ', N'Hòa Bình')
GO
INSERT [dbo].[QUANTRI] ([MAQUANTRI], [CHUCVU], [HOTEN], [NGAYSINH], [SDT], [DIACHI]) VALUES (N'QT001     ', N'Quản trị', N'Quản trị', CAST(N'2000-01-02' AS Date), N'0987654312', N'Hà Nội')
GO
INSERT [dbo].[TAIKHOAN] ([MATAIKHOAN], [HASHPASS]) VALUES (N'BS001     ', N'87e273917333375f61878ca9b7ca3b1922fc1a90                                                            ')
INSERT [dbo].[TAIKHOAN] ([MATAIKHOAN], [HASHPASS]) VALUES (N'BS002     ', N'5604a7c593e5d4fbe4135069dff41bbaea5186fa                                                            ')
INSERT [dbo].[TAIKHOAN] ([MATAIKHOAN], [HASHPASS]) VALUES (N'BS003     ', N'25e55a9a91a02c026c4729604afe73983e8af89f                                                            ')
GO
INSERT [dbo].[THUNGAN] ([MATHUNGAN], [HOTEN], [NGAYSINH], [SDT], [DIACHI], [CHUCVU]) VALUES (N'TN001     ', N'Thu Ngân Giỏi', CAST(N'1999-02-04' AS Date), N'0912345678', N'Viện Kiểm sát', N'Thu ngân')
INSERT [dbo].[THUNGAN] ([MATHUNGAN], [HOTEN], [NGAYSINH], [SDT], [DIACHI], [CHUCVU]) VALUES (N'TN003     ', N'Thu Ngân Khá', CAST(N'1998-01-04' AS Date), N'0915234567', N'Nghi Sơn', N'Thu ngân')
INSERT [dbo].[THUNGAN] ([MATHUNGAN], [HOTEN], [NGAYSINH], [SDT], [DIACHI], [CHUCVU]) VALUES (N'TN004     ', N'Thu Ngân Thuờng', CAST(N'2001-05-10' AS Date), N'0934346906', N'Tp HCM', N'Thu ngân')
GO
INSERT [dbo].[VACCINE] ([MAVACCINE], [TENVACCINE], [NHASX], [NGAYSX], [HANSD], [SOLO], [SOLUONGCOSAN], [DONGIA], [MALOAIVC], [MAQUANKHO], [MAQUANTRI]) VALUES (N'VC001     ', N'Astra', N'Anh', CAST(N'2020-07-05' AS Date), CAST(N'2024-08-05' AS Date), N'1         ', 996, 100001, N'LVC001    ', N'QK001     ', NULL)
INSERT [dbo].[VACCINE] ([MAVACCINE], [TENVACCINE], [NHASX], [NGAYSX], [HANSD], [SOLO], [SOLUONGCOSAN], [DONGIA], [MALOAIVC], [MAQUANKHO], [MAQUANTRI]) VALUES (N'VC002     ', N'Covaxin', N'Mỹ', CAST(N'2020-05-05' AS Date), CAST(N'2024-05-05' AS Date), N'2         ', 499, 90000, N'LVC001    ', N'QK001     ', NULL)
INSERT [dbo].[VACCINE] ([MAVACCINE], [TENVACCINE], [NHASX], [NGAYSX], [HANSD], [SOLO], [SOLUONGCOSAN], [DONGIA], [MALOAIVC], [MAQUANKHO], [MAQUANTRI]) VALUES (N'VC003     ', N'Rubella (MR) ', N'Bỉ', CAST(N'2023-05-07' AS Date), CAST(N'2024-08-05' AS Date), N'2         ', 397, 70000, N'LVC002    ', NULL, N'QT001     ')
GO
ALTER TABLE [dbo].[BACSY]  WITH CHECK ADD  CONSTRAINT [BS_TK] FOREIGN KEY([MABS])
REFERENCES [dbo].[TAIKHOAN] ([MATAIKHOAN])
GO
ALTER TABLE [dbo].[BACSY] CHECK CONSTRAINT [BS_TK]
GO
ALTER TABLE [dbo].[CHITIETTIEM]  WITH CHECK ADD  CONSTRAINT [CTT_PT] FOREIGN KEY([MAPHIEUTIEM])
REFERENCES [dbo].[PHIEUTIEM] ([MAPHIEUTIEM])
GO
ALTER TABLE [dbo].[CHITIETTIEM] CHECK CONSTRAINT [CTT_PT]
GO
ALTER TABLE [dbo].[CHITIETTIEM]  WITH CHECK ADD  CONSTRAINT [CTT_VC] FOREIGN KEY([MAVACCINE])
REFERENCES [dbo].[VACCINE] ([MAVACCINE])
GO
ALTER TABLE [dbo].[CHITIETTIEM] CHECK CONSTRAINT [CTT_VC]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [MHD_GH] FOREIGN KEY([MAGH])
REFERENCES [dbo].[NGUOIGIAMHO] ([MAGH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [MHD_GH]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [MHD_PT] FOREIGN KEY([MAPHIEUTIEM])
REFERENCES [dbo].[PHIEUTIEM] ([MAPHIEUTIEM])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [MHD_PT]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [MHD_TN] FOREIGN KEY([MATHUNGAN])
REFERENCES [dbo].[THUNGAN] ([MATHUNGAN])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [MHD_TN]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [KH_GH] FOREIGN KEY([MAGH])
REFERENCES [dbo].[NGUOIGIAMHO] ([MAGH])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [KH_GH]
GO
ALTER TABLE [dbo].[PHIEUTIEM]  WITH CHECK ADD  CONSTRAINT [PT_BS] FOREIGN KEY([MABS])
REFERENCES [dbo].[BACSY] ([MABS])
GO
ALTER TABLE [dbo].[PHIEUTIEM] CHECK CONSTRAINT [PT_BS]
GO
ALTER TABLE [dbo].[PHIEUTIEM]  WITH CHECK ADD  CONSTRAINT [PT_KH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[PHIEUTIEM] CHECK CONSTRAINT [PT_KH]
GO
ALTER TABLE [dbo].[QUANKHO]  WITH CHECK ADD  CONSTRAINT [QK] FOREIGN KEY([MAQUANKHO])
REFERENCES [dbo].[TAIKHOAN] ([MATAIKHOAN])
GO
ALTER TABLE [dbo].[QUANKHO] CHECK CONSTRAINT [QK]
GO
ALTER TABLE [dbo].[QUANTRI]  WITH CHECK ADD  CONSTRAINT [QT] FOREIGN KEY([MAQUANTRI])
REFERENCES [dbo].[TAIKHOAN] ([MATAIKHOAN])
GO
ALTER TABLE [dbo].[QUANTRI] CHECK CONSTRAINT [QT]
GO
ALTER TABLE [dbo].[THUNGAN]  WITH CHECK ADD  CONSTRAINT [TN_TK] FOREIGN KEY([MATHUNGAN])
REFERENCES [dbo].[TAIKHOAN] ([MATAIKHOAN])
GO
ALTER TABLE [dbo].[THUNGAN] CHECK CONSTRAINT [TN_TK]
GO
ALTER TABLE [dbo].[VACCINE]  WITH CHECK ADD  CONSTRAINT [VC_LVC] FOREIGN KEY([MALOAIVC])
REFERENCES [dbo].[LOAIVC] ([MALOAIVC])
GO
ALTER TABLE [dbo].[VACCINE] CHECK CONSTRAINT [VC_LVC]
GO
ALTER TABLE [dbo].[VACCINE]  WITH CHECK ADD  CONSTRAINT [VC_QK] FOREIGN KEY([MAQUANKHO])
REFERENCES [dbo].[QUANKHO] ([MAQUANKHO])
GO
ALTER TABLE [dbo].[VACCINE] CHECK CONSTRAINT [VC_QK]
GO
ALTER TABLE [dbo].[VACCINE]  WITH CHECK ADD  CONSTRAINT [VC_QT] FOREIGN KEY([MAQUANTRI])
REFERENCES [dbo].[QUANTRI] ([MAQUANTRI])
GO
ALTER TABLE [dbo].[VACCINE] CHECK CONSTRAINT [VC_QT]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddMaGHtoKH]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_AddMaGHtoKH] (@MAGH CHAR(10))
AS
BEGIN
    UPDATE KHACHHANG SET MAGH = @MAGH WHERE MAKH IN (
	    SELECT kh.MAKH
	    FROM NGUOIGIAMHO gh INNER JOIN HOADON hd INNER JOIN PHIEUTIEM pt INNER JOIN KHACHHANG kh
	    ON kh.MAKH = pt.MAKH ON pt.MAPHIEUTIEM = hd.MAPHIEUTIEM ON hd.MAGH = gh.MAGH
	    WHERE gh.MAGH = @MAGH )
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckPaymentStatus]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_CheckPaymentStatus] (@MAPHIEUTIEM CHAR(10))
AS
BEGIN
    DECLARE @returnVal int
	IF EXISTS (SELECT * FROM dbo.PHIEUTIEM pt INNER JOIN dbo.HOADON hd ON hd.MAPHIEUTIEM = pt.MAPHIEUTIEM WHERE pt.MAPHIEUTIEM = @MAPHIEUTIEM)
	BEGIN
	    SET @returnVal = 1
	END
	ELSE SET @returnVal = 0
	RETURN @returnVal
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ChinhSuaVaccine]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_ChinhSuaVaccine](@MAVACCINE CHAR(10), @TENVACCINE NVARCHAR(20), @NHASX NVARCHAR(30), @NGAYSX DATE, @HANSD DATE,
@SOLO CHAR(10), @SOLUONGCOSAN INT, @DONGIA FLOAT, @MALOAIVC NVARCHAR(20), @MAQUANKHO CHAR(10), @MAQUANTRI CHAR(10))
AS
BEGIN
	if(TRIM(@MAQUANKHO) = '')
	BEGIN
		set @MAQUANKHO = NULL
	END
	if(TRIM(@MAQUANTRI) = '')
	BEGIN
		set @MAQUANTRI = NULL
	END
	UPDATE VACCINE 
	SET
		TENVACCINE = @TENVACCINE,
		NHASX =  @NHASX,
		NGAYSX = @NGAYSX,
		HANSD = @HANSD,
		SOLO = @SOLO,
		SOLUONGCOSAN = @SOLUONGCOSAN ,
		DONGIA = @DONGIA,
		MALOAIVC = @MALOAIVC,
		MAQUANKHO = @MAQUANKHO,
		MAQUANTRI = @MAQUANTRI
	WHERE MAVACCINE = @MAVACCINE
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CountVCTheoLoaiVC]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_CountVCTheoLoaiVC]
AS
BEGIN
	SELECT LOAIVC.LOAIVACCINE, SOLUONG 
	FROM LOAIVC, (SELECT VC.MALOAIVC AS 'MALOAI', SUM(SOLUONGCOSAN) AS 'SoLuong'
FROM VACCINE vc INNER JOIN LOAIVC lvc ON lvc.MALOAIVC = vc.MALOAIVC
GROUP BY VC.MALOAIVC) AS MALVC_SL
WHERE LOAIVC.MALOAIVC=MALVC_SL.MALOAI
ORDER BY LOAIVC.LOAIVACCINE ASC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteHoaDon]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_DeleteHoaDon] (@MAHOADON CHAR(10))
AS
BEGIN
    DELETE FROM dbo.HOADON WHERE MAHOADON = @MAHOADON
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeletePhieuTiem]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_DeletePhieuTiem] (@MAPHIEUTIEM CHAR(10))
AS	
BEGIN
    DELETE dbo.PHIEUTIEM WHERE MAPHIEUTIEM = @MAPHIEUTIEM
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteTaiKhoan]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_DeleteTaiKhoan] (@MATK CHAR(10))
AS
BEGIN
DELETE FROM TAIKHOAN WHERE MATAIKHOAN=@MATK
DELETE FROM THUNGAN WHERE MATHUNGAN=@MATK
DELETE FROM BACSY WHERE MABS=@MATK
DELETE FROM QUANKHO WHERE MAQUANKHO=@MATK
DELETE FROM QUANTRI WHERE MAQUANTRI = @MATK
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllBacSi]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_GetAllBacSi]
AS
BEGIN
    SELECT MABS as 'Ma',HOTEN as 'HoTen',TRIM(MABS) +' - '+TRIM(HOTEN) as 'BacSi' from BACSY
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllGeneralInfoTaiKhoan]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[SP_GetAllGeneralInfoTaiKhoan] (@maTK CHAR(10), @pass Char(100))
AS
BEGIN
IF EXISTS (SELECT * FROM QUANTRI WHERE MAQUANTRI = @maTK) AND EXISTS (SELECT * FROM TAIKHOAN WHERE MATAIKHOAN=@maTK AND HASHPASS=@pass)
	BEGIN
	SELECT MATHUNGAN AS MA, HOTEN, NGAYSINH, SDT, DIACHI, CHUCVU FROM THUNGAN 
	UNION
	SELECT MABS AS MA, HOTEN, NGAYSINH, SDT, DIACHI, CHUCVU FROM BACSY 
	UNION 
	SELECT MAQUANKHO AS MA, HOTEN, NGAYSINH, SDT, DIACHI, CHUCVU FROM QUANKHO 
	UNION
	SELECT MAQUANTRI AS MA, HOTEN, NGAYSINH, SDT, DIACHI, CHUCVU FROM QUANTRI 
	END
	ELSE
		BEGIN
			SELECT MAQUANTRI AS MA, HOTEN, NGAYSINH, SDT, DIACHI, CHUCVU FROM QUANTRI Where 1=0
		END	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllHoaDonInfo]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_GetAllHoaDonInfo]
AS
BEGIN
    SELECT hd.MAHOADON, hd.TONGTIEN, hd.CHIETKHAU, hd.NGAYTHU, ngh.HOTEN AS NGUOIGH, ngh.DIACHI, ngh.SDT,ngh.EMAIL AS EMAIL, tn.HOTEN AS THUNGAN
	FROM dbo.THUNGAN tn INNER JOIN dbo.HOADON hd INNER JOIN dbo.NGUOIGIAMHO ngh
	ON ngh.MAGH = hd.MAGH
	ON hd.MATHUNGAN = tn.MATHUNGAN
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllLichSuTiem]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_GetAllLichSuTiem] (@MAKH CHAR(10))
AS
BEGIN
	SELECT pt.NGAYTIEM, vc.TENVACCINE, lvc.LOAIVACCINE, vc.NHASX, ctt.MUITHU, ctt.LIEULUONG, ctt.NGAYTIEMNHACLAI, vc.DONGIA
    FROM KHACHHANG kh INNER JOIN PHIEUTIEM pt INNER JOIN CHITIETTIEM ctt INNER JOIN VACCINE vc INNER JOIN LOAIVC lvc
	ON lvc.MALOAIVC = vc.MALOAIVC
    ON vc.MAVACCINE = ctt.MAVACCINE
    ON ctt.MAPHIEUTIEM = pt.MAPHIEUTIEM
    ON pt.MAKH = kh.MAKH
    WHERE kh.MAKH = @MAKH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllLoaiVC]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_GetAllLoaiVC]
AS
BEGIN
	SELECT MALOAIVC,LOAIVACCINE,TRIM(MALOAIVC)+' - '+TRIM(LOAIVACCINE) as 'InfoLVC' FROM LOAIVC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllPhieuTiemTrongNgay]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_GetAllPhieuTiemTrongNgay]
AS
BEGIN
	SELECT * FROM PHIEUTIEM 
	WHERE NGAYTIEM=GETDATE()
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getAllTaiKhoan]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_getAllTaiKhoan]( @maTK CHAR(10), @pass Char(100))
AS
BEGIN
	IF EXISTS (SELECT * FROM QUANTRI WHERE MAQUANTRI = @maTK) AND EXISTS (SELECT * FROM TAIKHOAN WHERE MATAIKHOAN=@maTK AND HASHPASS=@pass)

		BEGIN
			SELECT MATAIKHOAN FROM TAIKHOAN
		END
	ELSE
		BEGIN
			SELECT MATAIKHOAN FROM TAIKHOAN WHERE 1=0
		END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllVaccine]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_GetAllVaccine]
AS
BEGIN
    SELECT vc.MAVACCINE, vc.TENVACCINE, vc.NHASX, vc.NGAYSX, vc.HANSD, vc.SOLO, vc.SOLUONGCOSAN, vc.DONGIA, lvc.LOAIVACCINE
	FROM VACCINE vc INNER JOIN LOAIVC lvc ON lvc.MALOAIVC = vc.MALOAIVC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBacSyInfo]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_GetBacSyInfo](@MABS CHAR(10))
AS
BEGIN
	SELECT MABS, HOTEN, NGAYSINH, SDT, DIACHI, CHUCVU, CHUYENKHOA, BANGCAP FROM BACSY WHERE MABS=@MABS
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDoanhThuTheoNgayINTIME]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_GetDoanhThuTheoNgayINTIME](@NgayDau DATE, @NgayCuoi DATE)
AS
BEGIN
    SELECT NGAYTHU AS "Ngay", SUM(TONGTIEN) AS "Tien"
	FROM dbo.HOADON
	WHERE NGAYTHU BETWEEN @NgayDau AND @NgayCuoi
	GROUP BY(NGAYTHU)
	ORDER BY NGAYTHU ASC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetFullInfoTaiKhoan]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[SP_GetFullInfoTaiKhoan] (@MATK CHAR(10))
AS
BEGIN
	SELECT MATHUNGAN AS MA, HOTEN, NGAYSINH, SDT, DIACHI, CHUCVU,null as CHUYENKHOA,null as BANGCAP FROM THUNGAN WHERE MATHUNGAN=@MATK
	UNION
	SELECT MABS AS MA, HOTEN, NGAYSINH, SDT, DIACHI, CHUCVU , CHUYENKHOA,BANGCAP FROM BACSY WHERE MABS=@MATK
	UNION 
	SELECT MAQUANKHO AS MA, HOTEN, NGAYSINH, SDT, DIACHI, CHUCVU,null as CHUYENKHOA,null as BANGCAP FROM QUANKHO WHERE MAQUANKHO=@MATK
	UNION
	SELECT MAQUANTRI AS MA, HOTEN, NGAYSINH, SDT, DIACHI, CHUCVU,null as CHUYENKHOA,null as BANGCAP FROM QUANTRI WHERE MAQUANTRI=@MATK
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetGeneralInfoTaiKhoan]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[SP_GetGeneralInfoTaiKhoan] (@MATK CHAR(10))
AS
BEGIN
	SELECT MATHUNGAN AS MA, HOTEN, NGAYSINH, SDT, DIACHI, CHUCVU FROM THUNGAN WHERE MATHUNGAN=@MATK
	UNION
	SELECT MABS AS MA, HOTEN, NGAYSINH, SDT, DIACHI, CHUCVU FROM BACSY WHERE MABS=@MATK
	UNION 
	SELECT MAQUANKHO AS MA, HOTEN, NGAYSINH, SDT, DIACHI, CHUCVU FROM QUANKHO WHERE MAQUANKHO=@MATK
	UNION
	SELECT MAQUANTRI AS MA, HOTEN, NGAYSINH, SDT, DIACHI, CHUCVU FROM QUANTRI WHERE MAQUANTRI=@MATK
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetHashpassFromMa]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[sp_GetHashpassFromMa]( @maQT CHAR(10), @passQT Char(100), @maUser CHAR(10))
AS
BEGIN
	IF EXISTS (SELECT * FROM QUANTRI WHERE MAQUANTRI = @maQT) AND EXISTS (SELECT * FROM TAIKHOAN WHERE MATAIKHOAN=@maQT AND HASHPASS=@passQT)
		BEGIN
			SELECT HASHPASS FROM TAIKHOAN where MATAIKHOAN = @maUser
		END
	ELSE
		BEGIN
			SELECT HASHPASS FROM TAIKHOAN WHERE 1=0
		END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetHoaDonINTIME_TK]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC	[dbo].[sp_GetHoaDonINTIME_TK]  (@NgayDau DATE, @NgayCuoi DATE)
AS
BEGIN
    SELECT NGAYTHU AS "Ngay", TONGTIEN AS "Tien"
	FROM dbo.HOADON
	WHERE NGAYTHU BETWEEN @NgayDau AND @NgayCuoi
	ORDER BY NGAYTHU ASC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetHoTenFromTaiKhoan]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_GetHoTenFromTaiKhoan] (@MATK CHAR(10))
AS
BEGIN
SELECT HOTEN FROM THUNGAN WHERE MATHUNGAN=@MATK
UNION 
SELECT HOTEN FROM BACSY WHERE MABS=@MATK
UNION
SELECT HOTEN FROM QUANKHO WHERE MAQUANKHO=@MATK
UNION
SELECT HOTEN FROM QUANTRI WHERE MAQUANTRI= @MATK
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetKhachHangDenHanINTIME]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_GetKhachHangDenHanINTIME] (@NgayDau DATE, @NgayCuoi DATE)
AS
BEGIN
	SELECT KH.MAKH, TENKH,KH.GIOITINH,KH.SDT,KH.EMAIL,CTT.MAVACCINE,CTT.NGAYTIEMNHACLAI FROM KHACHHANG as KH
	INNER JOIN PHIEUTIEM AS PT ON  KH.MAKH=pt.MAKH
	INNER JOIN CHITIETTIEM AS CTT ON CTT.MAPHIEUTIEM=PT.MAPHIEUTIEM
	WHERE NGAYTIEMNHACLAI BETWEEN @NgayDau AND @NgayCuoi AND TIEMNHACLAI=1
	GROUP BY KH.MAKH,TENKH,KH.GIOITINH,KH.SDT,KH.EMAIL,CTT.MAVACCINE,CTT.NGAYTIEMNHACLAI
	ORDER BY DATEDIFF(DAY, GETDATE(), NGAYTIEMNHACLAI) DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetKhachHangINTIME]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_GetKhachHangINTIME] (@SoNgay INT)
AS
BEGIN
	SELECT KHACHHANG.MAKH, TENKH, DATEDIFF(DAY, GETDATE(), NGAYTIEMNHACLAI) AS 'SONGAYTIEMLAI' FROM KHACHHANG, CHITIETTIEM, PHIEUTIEM
	WHERE KHACHHANG.MAKH=PHIEUTIEM.MAKH
	AND CHITIETTIEM.MAPHIEUTIEM=PHIEUTIEM.MAPHIEUTIEM
	AND DATEDIFF(DAY, GETDATE(), NGAYTIEMNHACLAI) >0
	AND DATEDIFF(DAY, GETDATE(), NGAYTIEMNHACLAI) <@SoNgay
	ORDER BY SONGAYTIEMLAI
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLoaiVaccineSHH]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_GetLoaiVaccineSHH] (@SoNgay INt)
AS
BEGIN
	SELECT vc.MALOAIVC AS 'MALOAI',lvc.LOAIVACCINE,SUM(SOLUONGCOSAN) AS "SOLUONGCOSAN"
	FROM VACCINE vc JOIN LOAIVC lvc ON lvc.MALOAIVC = vc.MALOAIVC
	WHERE DATEDIFF(DAY, GETDATE(), HANSD)<@SoNgay
	GROUP BY lvc.LOAIVACCINE, vc.MALOAIVC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMaLVCFromMaVC]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_GetMaLVCFromMaVC](@MAVACCINE CHAR(10))
AS
BEGIN
	SELECT TRIM(MALOAIVC) FROM VACCINE WHERE MAVACCINE=@MAVACCINE
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMaPhieuTiemFromHD]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_GetMaPhieuTiemFromHD] (@MAHOADON CHAR(10))
AS
BEGIN
    SELECT MAPHIEUTIEM FROM dbo.HOADON WHERE MAHOADON = @MAHOADON
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMostUsedVaccineINTIME]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_GetMostUsedVaccineINTIME] (@NgayDau DATE, @NgayCuoi DATE)
AS
BEGIN	
		SELECT MAVACCINE AS 'MaVC', COUNT(MAVACCINE) AS 'SoLuong'
		FROM dbo.PHIEUTIEM INNER JOIN dbo.CHITIETTIEM ON CHITIETTIEM.MAPHIEUTIEM = PHIEUTIEM.MAPHIEUTIEM
		WHERE CHITIETTIEM.MAPHIEUTIEM IN
		(SELECT DISTINCT MAPHIEUTIEM FROM dbo.HOADON WHERE NGAYTHU BETWEEN @NgayDau AND @NgayCuoi)
		GROUP BY MAVACCINE
		ORDER BY SoLuong DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPhieuTiemReportInfo]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_GetPhieuTiemReportInfo] (@MAPT CHAR(10))
AS
BEGIN
	DECLARE @tbBSPT TABLE (MAPT CHAR(10), NGAYTIEM DATE, TENBS NVARCHAR(50), MAKH CHAR(10))

	INSERT INTO @tbBSPT SELECT pt.MAPHIEUTIEM, pt.NGAYTIEM, bs.HOTEN, pt.MAKH FROM dbo.PHIEUTIEM pt INNER JOIN dbo.BACSY bs ON bs.MABS = pt.MABS WHERE pt.MAPHIEUTIEM = @MAPT

    SELECT bspt.NGAYTIEM, kh.MAKH, kh.TENKH, kh.NGAYSINH, kh.GIOITINH, kh.TIEUSU, bspt.TENBS FROM dbo.KHACHHANG kh INNER JOIN @tbBSPT bspt INNER JOIN dbo.CHITIETTIEM ctt INNER JOIN dbo.VACCINE vc
	ON vc.MAVACCINE = ctt.MAVACCINE
	ON bspt.MAPT = ctt.MAPHIEUTIEM
	ON kh.MAKH = bspt.MAKH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPhieuTiemsInfo]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_GetPhieuTiemsInfo] 
AS
BEGIN
    SELECT pt.MAPHIEUTIEM, kh.MAKH, kh.TENKH, kh.NGAYSINH, kh.GIOITINH, kh.TIEUSU,kh.EMAIL,kh.SDT, pt.NGAYTIEM, bs.HOTEN AS TENBS
	FROM BACSY bs INNER JOIN PHIEUTIEM pt INNER JOIN KHACHHANG kh
	ON kh.MAKH = pt.MAKH
	ON pt.MABS = bs.MABS
	ORDER BY pt.MAPHIEUTIEM DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetQuanKhoInfo]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_GetQuanKhoInfo]( @MAQUANKHO CHAR(10))
AS
BEGIN
	SELECT MAQUANKHO, HOTEN, NGAYSINH, SDT, DIACHI, CHUCVU FROM QUANKHO WHERE MAQUANKHO = @MAQUANKHO
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetQuanTriInfo]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_GetQuanTriInfo] (@MAQUANTRI CHAR(10))
AS
BEGIN
	SELECT MAQUANTRI, HOTEN, NGAYSINH, SDT, DIACHI, CHUCVU FROM QUANTRI WHERE MAQUANTRI=@MAQUANTRI
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTenLoaiVCTheoMaLoai]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_GetTenLoaiVCTheoMaLoai](@MaLoaiVC CHAR(10))
AS
BEGIN
	SELECT LOAIVACCINE AS 'TenLoaiVC'
	FROM dbo.LOAIVC
	WHERE MALOAIVC = @MaLoaiVC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTenThuNgan]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_GetTenThuNgan] (@MATHUNGAN char(10))
AS
BEGIN
	SELECT HOTEN FROM THUNGAN WHERE MATHUNGAN = @MATHUNGAN
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTenVCTuMaVC]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_GetTenVCTuMaVC](@MaVC CHAR(10))
AS
BEGIN
	SELECT TENVACCINE AS 'TenVC'
	FROM dbo.VACCINE
	WHERE MAVACCINE = @MaVC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetThuNganInfo]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_GetThuNganInfo]( @MATHUNGAN CHAR(10))
AS
BEGIN
	SELECT MATHUNGAN, HOTEN, NGAYSINH, SDT, DIACHI, CHUCVU FROM THUNGAN WHERE MATHUNGAN=@MATHUNGAN
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetVaccineINTIME]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_GetVaccineINTIME] (@SoNgay INT)
AS
BEGIN
	SELECT MAVACCINE, TENVACCINE, DATEDIFF(DAY, GETDATE(), HANSD) AS 'SONGAYCONLAI' FROM VACCINE
	WHERE DATEDIFF(DAY, GETDATE(), HANSD)<@SoNgay
	ORDER BY SONGAYCONLAI
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetVaccineSHH]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_GetVaccineSHH] (@SoNgay INT)
AS
BEGIN
	SELECT vc.MAVACCINE, TENVACCINE,vc.NHASX, vc.NGAYSX, vc.HANSD, vc.SOLO, vc.SOLUONGCOSAN, vc.DONGIA,lvc.LOAIVACCINE,DATEDIFF(DAY, GETDATE(), vc.HANSD) AS 'SONGAYCONLAI'
	FROM VACCINE vc JOIN LOAIVC lvc ON lvc.MALOAIVC = vc.MALOAIVC
	WHERE DATEDIFF(DAY, GETDATE(), HANSD)<@SoNgay
	GROUP BY vc.MAVACCINE, TENVACCINE,vc.NHASX, vc.NGAYSX, vc.HANSD, vc.SOLO, vc.SOLUONGCOSAN, vc.DONGIA,lvc.LOAIVACCINE,vc.HANSD
	ORDER BY SONGAYCONLAI ASC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetVCFromPhieuTiem]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_GetVCFromPhieuTiem] (@MAPHIEUTIEM CHAR(10))
AS
BEGIN
    SELECT vc.MAVACCINE, vc.TENVACCINE, lvc.LOAIVACCINE, vc.NHASX, ctt.MUITHU, ctt.LIEULUONG, ctt.NGAYTIEMNHACLAI, vc.DONGIA
    FROM PHIEUTIEM pt INNER JOIN CHITIETTIEM ctt INNER JOIN VACCINE vc INNER JOIN LOAIVC lvc
	ON lvc.MALOAIVC = vc.MALOAIVC
    ON vc.MAVACCINE = ctt.MAVACCINE
    ON ctt.MAPHIEUTIEM = pt.MAPHIEUTIEM
    WHERE ctt.MAPHIEUTIEM = @MAPHIEUTIEM
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertCTT]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_InsertCTT] (@MAPHIEUTIEM CHAR(10),@MAVACCINE CHAR(10), @GIABAN INT, @MUITHU INT, @NGAYNHACLAI DATE, @LIEULUONG FLOAT,@TIEMNHACLAI BIT)
AS
BEGIN
    INSERT INTO dbo.CHITIETTIEM
    (
        MAPHIEUTIEM,
        MAVACCINE,
        GIABAN,
        MUITHU,
        NGAYTIEMNHACLAI,
        LIEULUONG,
		TIEMNHACLAI
    )
    VALUES
    (   @MAPHIEUTIEM,        -- MAPHIEUTIEM - char(10)
        @MAVACCINE,        -- MAVACCINE - char(10)
        @GIABAN,         -- GIABAN - int
        @MUITHU,         -- MUITHU - int
        @NGAYNHACLAI, -- NGAYTIEMNHACLAI - date
        @LIEULUONG  ,      -- LIEULUONG - float
		@TIEMNHACLAI
        )
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertHD]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_InsertHD] (@MAHOADON CHAR(10), @CHIETKHAU FLOAT, @NGAYTHU DATE, @TONGTIEN BIGINT, @MAGH CHAR(10), @MATHUNGAN CHAR(10), @MAPHIEUTIEM CHAR(10))
AS
BEGIN
    INSERT INTO dbo.HOADON
    (
        MAHOADON,
        CHIETKHAU,
        NGAYTHU,
        TONGTIEN,
        MAGH,
        MATHUNGAN,
        MAPHIEUTIEM
    )
    VALUES
    (   @MAHOADON,        -- MAHOADON - char(10)
        @CHIETKHAU,       -- CHIETKHAU - float
        @NGAYTHU, -- NGAYTHU - date
        @TONGTIEN,         -- TONGTIEN - bigint
        @MAGH,        -- MAGH - char(10)
        @MATHUNGAN,        -- MATHUNGAN - char(10)
        @MAPHIEUTIEM         -- MAPHIEUTIEM - char(10)
        )
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertKH]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_InsertKH] (@MAKH CHAR(10), @TENKH NVARCHAR(50), @NGAYSINH DATE, @GIOITINH NVARCHAR(4), @TIEUSU NVARCHAR(250),@EMAIL CHAR(50),@SDT CHAR(11), @MAGH CHAR(10))
AS
BEGIN
    INSERT INTO dbo.KHACHHANG
    (
        MAKH,
        TENKH,
        NGAYSINH,
        GIOITINH,
        TIEUSU,
		EMAIL,
		SDT,
        MAGH
    )
    VALUES
    (   @MAKH,        -- MAKH - char(10)
        @TENKH,       -- TENKH - nvarchar(20)
        @NGAYSINH, -- NGAYSINH - date
        @GIOITINH,       -- GIOITINH - nvarchar(4)
        @TIEUSU,       -- TIEUSU - nvarchar(250)
		@EMAIL,
		@SDT,
        @MAGH         -- MAGH - char(10)
        )
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertLoaiVC]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_InsertLoaiVC](
@MALOAIVC CHAR(10),
@LOAIVACCINE NVARCHAR(20)
)
AS
BEGIN
	IF EXISTS (SELECT LOAIVACCINE FROM LOAIVC WHERE LOAIVACCINE=@LOAIVACCINE)
	BEGIN
		SELECT*FROM VACCINE
	END
	ELSE
		BEGIN
		INSERT INTO LOAIVC (MALOAIVC, LOAIVACCINE)
		VALUES (@MALOAIVC, @LOAIVACCINE)
		END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertNGH]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_InsertNGH] (@MAGH CHAR(10), @HOTEN NVARCHAR(50), @DIACHI NVARCHAR(100), @SDT VARCHAR(20),@EMAIL CHAR(50))
AS
BEGIN
    INSERT INTO dbo.NGUOIGIAMHO
    (
        MAGH,
        HOTEN,
        DIACHI,
        SDT,
		EMAIL
    )
    VALUES
    (   @MAGH,  -- MAGH - char(10)
        @HOTEN, -- HOTEN - nvarchar(50)
        @DIACHI, -- DIACHI - nvarchar(100)
        @SDT  , -- SDT - varchar(20)
		@EMAIL
        )
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertPhieuTiem]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_InsertPhieuTiem] (@MAPHIEUTIEM CHAR(10), @NGAYTIEM DATE, @MAKH CHAR(10), @MABS CHAR(10)) 
AS
BEGIN
    INSERT INTO dbo.PHIEUTIEM
    (
        MAPHIEUTIEM,
        NGAYTIEM,
        MAKH,
        MABS
    )
    VALUES
    (   @MAPHIEUTIEM,        -- MAPHIEUTIEM - char(10)
        @NGAYTIEM, -- NGAYTIEM - date
        @MAKH,        -- MAKH - char(10)
        @MABS         -- MABS - char(10)
        )
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertTaiKhoan]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_InsertTaiKhoan] (@maQT CHAR(10), @passQT Char(100),@MATK CHAR(10), @HOTEN NVARCHAR(30), @NGAYSINH DATE, @SDT CHAR(10), @DIACHI NVARCHAR(50), @CHUCVU NVARCHAR(30), @CHUYENKHOA NVARCHAR(30), @BANGCAP NVARCHAR(30), @PASSWORD char(100))
AS
BEGIN
	IF EXISTS (SELECT * FROM QUANTRI WHERE MAQUANTRI = @maQT) AND EXISTS (SELECT * FROM TAIKHOAN WHERE MATAIKHOAN=@maQT AND HASHPASS=@passQT)
		BEGIN		
			INSERT INTO TAIKHOAN (MATAIKHOAN, HASHPASS)
		VALUES (@MATK, @PASSWORD)
		IF @CHUCVU = N'BÁC SỸ' or @CHUCVU = N'BÁC SĨ'
			BEGIN
				INSERT INTO BACSY (MABS, HOTEN,NGAYSINH, SDT, DIACHI, CHUCVU, CHUYENKHOA, BANGCAP)
				VALUES (@MATK, @HOTEN, @NGAYSINH, @SDT, @DIACHI, @CHUCVU, @CHUYENKHOA, @BANGCAP)
			END
		IF @CHUCVU = N'THU NGÂN'
			BEGIN
				INSERT INTO THUNGAN (MATHUNGAN, HOTEN,NGAYSINH, SDT, DIACHI, CHUCVU)
				VALUES (@MATK, @HOTEN, @NGAYSINH, @SDT, @DIACHI, @CHUCVU)
			END
		IF @CHUCVU = N'QUẢN LÍ KHO' Or @CHUCVU=N'QUẢN LÝ KHO'
			BEGIN
				INSERT INTO QUANKHO (MAQUANKHO, HOTEN,NGAYSINH, SDT, DIACHI, CHUCVU)
				VALUES (@MATK, @HOTEN, @NGAYSINH, @SDT, @DIACHI, @CHUCVU)				
			END
		IF @CHUCVU = N'QUẢN TRỊ'
			BEGIN
				INSERT INTO QUANTRI (MAQUANTRI, HOTEN,NGAYSINH, SDT, DIACHI, CHUCVU)
				VALUES (@MATK, @HOTEN, @NGAYSINH, @SDT, @DIACHI, @CHUCVU)
			END
		END	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertVaccine]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_InsertVaccine] (@MAVACCINE CHAR(10), @TENVACCINE NVARCHAR(20), @NHASX NVARCHAR(30), @NGAYSX DATE, @HANSD DATE,
@SOLO CHAR(10), @SOLUONGCOSAN INT, @DONGIA FLOAT, @MALOAIVC CHAR(10), @MAQUANKHO CHAR(10), @MAQUANTRI CHAR(10))
AS
BEGIN
	if(TRIM(@MAQUANKHO) = '')
	BEGIN
		set @MAQUANKHO = NULL
	END
	if(TRIM(@MAQUANTRI) = '')
	BEGIN
		set @MAQUANTRI = NULL
	END
	IF EXISTS (SELECT LOAIVACCINE FROM LOAIVC WHERE MALOAIVC=@MALOAIVC)
		BEGIN
			INSERT INTO VACCINE
		(
			MAVACCINE,
			TENVACCINE,
			NHASX,
			NGAYSX,
			HANSD,
			SOLO,
			SOLUONGCOSAN,
			DONGIA,
			MALOAIVC,
			MAQUANKHO,
			MAQUANTRI
		)
		VALUES
		(
			@MAVACCINE,
			@TENVACCINE,
			@NHASX,
			@NGAYSX,
			@HANSD,
			@SOLO,
			@SOLUONGCOSAN,
			@DONGIA,
			@MALOAIVC,
			@MAQUANKHO,
			@MAQUANTRI
		)
		END	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_IsVCInStock]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_IsVCInStock] (@MAVACCINE CHAR(10))
AS
BEGIN
	DECLARE @returnVal int
	IF EXISTS (SELECT MAVACCINE FROM VACCINE WHERE MAVACCINE = @MAVACCINE)
	BEGIN
	    SET @returnVal = 1
	END
	ELSE SET @returnVal = 0
	RETURN @returnVal
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchAllVaccine]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_SearchAllVaccine] (@Value NVARCHAR(100))
AS
BEGIN
    SELECT vc.MAVACCINE, vc.TENVACCINE, vc.NHASX, vc.NGAYSX, vc.HANSD, vc.SOLO, vc.SOLUONGCOSAN, vc.DONGIA, lvc.LOAIVACCINE
	FROM VACCINE vc INNER JOIN LOAIVC lvc ON lvc.MALOAIVC = vc.MALOAIVC
    WHERE vc.MAVACCINE LIKE N'%' + @Value + '%'
    OR vc.TENVACCINE LIKE N'%' + @Value + '%'
    OR vc.NHASX LIKE N'%' + @Value + '%'
    OR vc.NGAYSX LIKE N'%' + @Value + '%'
    OR vc.HANSD  LIKE N'%' + @Value + '%'
    OR vc.SOLO LIKE N'%' + @Value + '%'
    OR vc.SOLUONGCOSAN LIKE N'%' + @Value + '%'
    OR lvc.LOAIVACCINE LIKE N'%' + @Value + '%'
    OR vc.DONGIA LIKE N'%' + @Value + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchAllVaccineSHH]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_SearchAllVaccineSHH] (@Value NVARCHAR(100), @SoNgay INT)
AS
BEGIN
    SELECT vc.MAVACCINE, TENVACCINE,vc.NHASX, vc.NGAYSX, vc.HANSD, vc.SOLO, vc.SOLUONGCOSAN, vc.DONGIA,lvc.LOAIVACCINE,DATEDIFF(DAY, GETDATE(), vc.HANSD) AS 'SONGAYCONLAI'
	FROM VACCINE vc INNER JOIN LOAIVC lvc ON lvc.MALOAIVC = vc.MALOAIVC
    WHERE (vc.MAVACCINE LIKE N'%' + @Value + '%'
    OR vc.TENVACCINE LIKE N'%' + @Value + '%'
    OR vc.NHASX LIKE N'%' + @Value + '%'
    OR vc.NGAYSX LIKE N'%' + @Value + '%'
    OR vc.HANSD  LIKE N'%' + @Value + '%'
    OR vc.SOLO LIKE N'%' + @Value + '%'
    OR vc.SOLUONGCOSAN LIKE N'%' + @Value + '%'
    OR lvc.LOAIVACCINE LIKE N'%' + @Value + '%'
    OR vc.DONGIA LIKE N'%' + @Value + '%') 
	AND DATEDIFF(DAY, GETDATE(), HANSD)<@SoNgay
	GROUP BY vc.MAVACCINE, TENVACCINE,vc.NHASX, vc.NGAYSX, vc.HANSD, vc.SOLO, vc.SOLUONGCOSAN, vc.DONGIA,lvc.LOAIVACCINE,vc.HANSD
	ORDER BY SONGAYCONLAI ASC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchByLoaiVC]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_SearchByLoaiVC] (@Value NVARCHAR(100))
AS
BEGIN
    SELECT vc.MAVACCINE, vc.TENVACCINE, vc.NHASX, vc.NGAYSX, vc.HANSD, vc.SOLO, vc.SOLUONGCOSAN, vc.DONGIA, lvc.LOAIVACCINE
	FROM VACCINE vc INNER JOIN LOAIVC lvc ON lvc.MALOAIVC = vc.MALOAIVC
    WHERE lvc.LOAIVACCINE LIKE N'%' + @Value + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchByLoaiVCSHH]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_SearchByLoaiVCSHH] (@Value NVARCHAR(100), @SoNgay INT)
AS
BEGIN
    SELECT vc.MAVACCINE, TENVACCINE,vc.NHASX, vc.NGAYSX, vc.HANSD, vc.SOLO, vc.SOLUONGCOSAN, vc.DONGIA,lvc.LOAIVACCINE,DATEDIFF(DAY, GETDATE(), vc.HANSD) AS 'SONGAYCONLAI'
	FROM VACCINE vc INNER JOIN LOAIVC lvc ON lvc.MALOAIVC = vc.MALOAIVC
    WHERE lvc.LOAIVACCINE LIKE N'%' + @Value + '%' AND DATEDIFF(DAY, GETDATE(), HANSD)<@SoNgay
	GROUP BY vc.MAVACCINE, TENVACCINE,vc.NHASX, vc.NGAYSX, vc.HANSD, vc.SOLO, vc.SOLUONGCOSAN, vc.DONGIA,lvc.LOAIVACCINE,vc.HANSD
	ORDER BY SONGAYCONLAI ASC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchByMaVC]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_SearchByMaVC] (@Value char(10))
AS
BEGIN
    SELECT vc.MAVACCINE, vc.TENVACCINE, vc.NHASX, vc.NGAYSX, vc.HANSD, vc.SOLO, vc.SOLUONGCOSAN, vc.DONGIA, lvc.LOAIVACCINE
	FROM VACCINE vc INNER JOIN LOAIVC lvc ON lvc.MALOAIVC = vc.MALOAIVC
    WHERE vc.MAVACCINE LIKE N'%' + @Value + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchByMaVCSHH]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_SearchByMaVCSHH] (@Value char(10), @SoNgay INT)
AS
BEGIN
    SELECT vc.MAVACCINE, TENVACCINE,vc.NHASX, vc.NGAYSX, vc.HANSD, vc.SOLO, vc.SOLUONGCOSAN, vc.DONGIA,lvc.LOAIVACCINE,DATEDIFF(DAY, GETDATE(), vc.HANSD) AS 'SONGAYCONLAI'
	FROM VACCINE vc INNER JOIN LOAIVC lvc ON lvc.MALOAIVC = vc.MALOAIVC
    WHERE vc.MAVACCINE LIKE N'%' + @Value + '%' AND DATEDIFF(DAY, GETDATE(), HANSD)<@SoNgay
	GROUP BY vc.MAVACCINE, TENVACCINE,vc.NHASX, vc.NGAYSX, vc.HANSD, vc.SOLO, vc.SOLUONGCOSAN, vc.DONGIA,lvc.LOAIVACCINE,vc.HANSD
	ORDER BY SONGAYCONLAI ASC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchByNhaSX]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_SearchByNhaSX] (@Value NVARCHAR(100))
AS
BEGIN
    SELECT vc.MAVACCINE, vc.TENVACCINE, vc.NHASX, vc.NGAYSX, vc.HANSD, vc.SOLO, vc.SOLUONGCOSAN, vc.DONGIA, lvc.LOAIVACCINE
	FROM VACCINE vc INNER JOIN LOAIVC lvc ON lvc.MALOAIVC = vc.MALOAIVC
    WHERE vc.NHASX LIKE N'%' + @Value + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchByNhaSXSHH]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_SearchByNhaSXSHH] (@Value NVARCHAR(100), @SoNgay INT)
AS
BEGIN
    SELECT vc.MAVACCINE, TENVACCINE,vc.NHASX, vc.NGAYSX, vc.HANSD, vc.SOLO, vc.SOLUONGCOSAN, vc.DONGIA,lvc.LOAIVACCINE,DATEDIFF(DAY, GETDATE(), vc.HANSD) AS 'SONGAYCONLAI'
	FROM VACCINE vc INNER JOIN LOAIVC lvc ON lvc.MALOAIVC = vc.MALOAIVC
    WHERE vc.NHASX LIKE N'%' + @Value + '%' AND DATEDIFF(DAY, GETDATE(), HANSD)<@SoNgay
	GROUP BY vc.MAVACCINE, TENVACCINE,vc.NHASX, vc.NGAYSX, vc.HANSD, vc.SOLO, vc.SOLUONGCOSAN, vc.DONGIA,lvc.LOAIVACCINE,vc.HANSD
	ORDER BY SONGAYCONLAI ASC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchByTenSHH]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_SearchByTenSHH] (@Value NVARCHAR(100), @SoNgay INT)
AS
BEGIN
    SELECT vc.MAVACCINE, TENVACCINE,vc.NHASX, vc.NGAYSX, vc.HANSD, vc.SOLO, vc.SOLUONGCOSAN, vc.DONGIA,lvc.LOAIVACCINE,DATEDIFF(DAY, GETDATE(), vc.HANSD) AS 'SONGAYCONLAI'
	FROM VACCINE vc INNER JOIN LOAIVC lvc ON lvc.MALOAIVC = vc.MALOAIVC
    WHERE vc.TENVACCINE LIKE N'%' + @Value + '%' AND DATEDIFF(DAY, GETDATE(), HANSD)<@SoNgay
	GROUP BY vc.MAVACCINE, TENVACCINE,vc.NHASX, vc.NGAYSX, vc.HANSD, vc.SOLO, vc.SOLUONGCOSAN, vc.DONGIA,lvc.LOAIVACCINE,vc.HANSD
	ORDER BY SONGAYCONLAI ASC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchByTenVC]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_SearchByTenVC] (@Value NVARCHAR(100))
AS
BEGIN
    SELECT vc.MAVACCINE, vc.TENVACCINE, vc.NHASX, vc.NGAYSX, vc.HANSD, vc.SOLO, vc.SOLUONGCOSAN, vc.DONGIA, lvc.LOAIVACCINE
	FROM VACCINE vc INNER JOIN LOAIVC lvc ON lvc.MALOAIVC = vc.MALOAIVC
    WHERE vc.TENVACCINE LIKE N'%' + @Value + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateHoaDonInfo]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_UpdateHoaDonInfo] (@MAHOADON CHAR(10), @NGAYTHU DATE, @NGUOIGH NVARCHAR(50), @DIACHI NVARCHAR(100), @SDT VARCHAR(20),@EMAIL CHAR(50))
AS
BEGIN
    UPDATE dbo.HOADON SET NGAYTHU = @NGAYTHU WHERE MAHOADON = @MAHOADON
	UPDATE dbo.NGUOIGIAMHO SET HOTEN = @NGUOIGH, DIACHI = @DIACHI, SDT = @SDT,EMAIL=@EMAIL WHERE MAGH IN
	(
		SELECT HD.MAGH FROM dbo.NGUOIGIAMHO ngh INNER JOIN dbo.HOADON hd ON hd.MAGH = ngh.MAGH WHERE hd.MAHOADON = @MAHOADON
	)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePhieuTiemInfo]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_UpdatePhieuTiemInfo] (@MAPHIEUTIEM CHAR(10), @NGAYTIEM DATE, @TENKH NVARCHAR(50), @NGAYSINH DATE, @GIOITINH NVARCHAR(4), @TIEUSU NVARCHAR(250),@EMAIL CHAR(50),@SDT CHAR(11))
AS
BEGIN
    UPDATE dbo.PHIEUTIEM SET NGAYTIEM = @NGAYTIEM WHERE MAPHIEUTIEM = @MAPHIEUTIEM
	UPDATE dbo.KHACHHANG SET TENKH = @TENKH, NGAYSINH = @NGAYSINH, GIOITINH = @GIOITINH, TIEUSU = @TIEUSU,EMAIL=@EMAIL,SDT=@SDT WHERE MAKH IN
	(
		SELECT kh.MAKH FROM dbo.KHACHHANG kh INNER JOIN  dbo.PHIEUTIEM pt ON pt.MAKH = kh.MAKH WHERE pt.MAPHIEUTIEM = @MAPHIEUTIEM
	)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateTaiKhoanInfo]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_UpdateTaiKhoanInfo] (@maQT CHAR(10), @passQT Char(100),@MATK CHAR(10), @HOTEN NVARCHAR(30), @NGAYSINH DATE, @SDT CHAR(10), @DIACHI NVARCHAR(50), @CHUCVU NVARCHAR(30), @CHUYENKHOA NVARCHAR(30), @BANGCAP NVARCHAR(30), @PASSWORD CHAR(100))
AS
BEGIN
	IF EXISTS (SELECT * FROM QUANTRI WHERE MAQUANTRI = @maQT) AND EXISTS (SELECT * FROM TAIKHOAN WHERE MATAIKHOAN=@maQT AND HASHPASS=@passQT)
		BEGIN
		UPDATE TAIKHOAN
		SET 
			HASHPASS=@PASSWORD
		WHERE MATAIKHOAN=@MATK
		IF @CHUCVU = N'BÁC SỸ' or @CHUCVU = N'BÁC SĨ'
			BEGIN
				UPDATE BACSY 
				SET
					HOTEN=@HOTEN,
					NGAYSINH=@NGAYSINH,
					SDT = @SDT,
					DIACHI=@DIACHI,
					CHUYENKHOA=@CHUYENKHOA,
					BANGCAP=@BANGCAP
				WHERE MABS=@MATK;
			END
		IF @CHUCVU = N'THU NGÂN'
			BEGIN
				UPDATE THUNGAN 
				SET
					HOTEN=@HOTEN,
					NGAYSINH=@NGAYSINH,
					SDT = @SDT,
					DIACHI=@DIACHI
				WHERE MATHUNGAN=@MATK;
			END
		IF @CHUCVU = N'QUẢN LÍ KHO' Or @CHUCVU=N'QUẢN LÝ KHO'
			BEGIN
				UPDATE QUANKHO 
				SET
					HOTEN=@HOTEN,
					NGAYSINH=@NGAYSINH,
					SDT = @SDT,
					DIACHI=@DIACHI
				WHERE MAQUANKHO=@MATK;
			END
		IF @CHUCVU = N'QUẢN TRỊ'
			BEGIN
				UPDATE QUANTRI
				SET
					HOTEN=@HOTEN,
					NGAYSINH=@NGAYSINH,
					SDT = @SDT,
					DIACHI=@DIACHI
				WHERE MAQUANTRI=@MATK;
			END
		END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaLoaiVC]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_XoaLoaiVC] (@MALOAIVC CHAR(10))
AS
BEGIN
DELETE FROM LOAIVC
WHERE MALOAIVC=@MALOAIVC
END
GO
/****** Object:  StoredProcedure [dbo].[spRP_getInforHoaDon]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spRP_getInforHoaDon] (@maHD CHAR(10))
AS
BEGIN	
	SELECT 
		CHIETKHAU AS 'ChietKhau', 
		NGAYTHU AS 'NgayThu', 
		TONGTIEN AS 'TongTien',
		MAPHIEUTIEM AS 'MaPhieuTiem',
		MATHUNGAN AS 'MaThuNgan'
	FROM dbo.HOADON
	WHERE MAHOADON = @maHD
END
GO
/****** Object:  StoredProcedure [dbo].[spRP_GetInforNGH]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spRP_GetInforNGH](@maHD CHAR(10))
AS
BEGIN
	SELECT HOTEN AS 'HoTen', DIACHI AS 'DiaChi', SDT AS 'SDT'
	FROM	dbo.NGUOIGIAMHO INNER JOIN dbo.HOADON ON HOADON.MAGH = NGUOIGIAMHO.MAGH
	WHERE
	(
		MAHOADON = @maHD
	)
END
GO
/****** Object:  StoredProcedure [dbo].[spRP_GetMaVC]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spRP_GetMaVC](@maPhieuTiem CHAR(10))
AS
BEGIN
	SELECT DISTINCT MAVACCINE AS 'MaVC'
	FROM dbo.CHITIETTIEM 
	WHERE MAPHIEUTIEM = @maPhieuTiem
END
GO
/****** Object:  StoredProcedure [dbo].[spRP_GetNgayTiem]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spRP_GetNgayTiem](@maPhieuTiem CHAR(10))
AS
BEGIN
	SELECT NGAYTIEM AS 'NgayTiem'
	FROM dbo.PHIEUTIEM
	WHERE MAPHIEUTIEM = @maPhieuTiem
END
GO
/****** Object:  StoredProcedure [dbo].[spRP_GetTen_GiaVC]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spRP_GetTen_GiaVC] (@maVC CHAR(10))
AS
BEGIN
    SELECT TENVACCINE AS 'TenVC', DONGIA AS 'DonGiaVC'
	FROM dbo.VACCINE
	WHERE MAVACCINE = @maVC
END
GO
/****** Object:  StoredProcedure [dbo].[spRP_GetTenBenhNhan]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spRP_GetTenBenhNhan](@maPhieuTiem CHAR(10))
AS
BEGIN
	SELECT DISTINCT TENKH AS 'TenBN'
	FROM dbo.PHIEUTIEM INNER JOIN dbo.KHACHHANG ON	KHACHHANG.MAKH = PHIEUTIEM.MAKH
	WHERE MAPHIEUTIEM = @maPhieuTiem
END
GO
/****** Object:  StoredProcedure [dbo].[spRP_GetTenBS]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spRP_GetTenBS](@maPhieuTiem CHAR(10))
AS
BEGIN
SELECT HOTEN AS 'HoTenBS'
FROM dbo.BACSY INNER JOIN dbo.PHIEUTIEM ON PHIEUTIEM.MABS = BACSY.MABS
WHERE MAPHIEUTIEM = @maPhieuTiem
END
GO
/****** Object:  StoredProcedure [dbo].[spRP_GetTenThuNgan]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spRP_GetTenThuNgan] (@maTN CHAR(10))
AS
BEGIN
    SELECT HOTEN AS 'HoTenTN'
	FROM dbo.THUNGAN
	WHERE MATHUNGAN = @maTN 
END
GO
USE [master]
GO
